 @import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&family=Roboto+Slab:wght@100..900&display=swap');


:root{
    --cor-primaria:black;
    --cor-secundaria: white;
    --cor-terciaria:#22d4fd;
    --cor-quaternaria:rgb(59, 58, 58);
}

 *{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
}

.fundopreto{
    background-color: var(--cor-primaria);
}

.cordotextobranca{
    color: var(--cor-secundaria);
}
.cordotextoazul{
    color:var(--cor-terciaria);
}
.conteudo{
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 52px;
    
}

.conteudo__justificado{
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content:center;
    width: 50%;
    text-align: justify;
}
.conteudo__titulo{
    font-family: "Roboto Slab", serif;
    font-size: 2.25rem;
    color: var(--cor-secundaria);
}

.conteudo__texto{
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 0.93rem;
    color: var(--cor-secundaria);
    
}

.imagem{
    margin: 15px;
    width: 50%;
}

.conteudo__botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.conteudo__botoes__link{
    justify-content: center;
    display: flex;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: var(--cor-terciaria);
    text-decoration: 0;
    margin: 5px;
    padding: 25px 0px;
    font-size: 21.5re;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    color:var(--cor-terciaria);
}
.conteudo__botoes__link:hover{
    background-color:var(--cor-secundaria);
}
.conteudo__botoes__textosuperior{
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}
.conteudo__botoes__img{
    width: 45px;
    margin: 1px 20px;
}
.rodape{
    font-size: 1.25rem;
    text-align: center;
    padding: 24px;
    color:var(--cor-quaternaria);
    background-color: var(--cor-terciaria);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
    align-items: center;
}
.cabecalho__menu__link{
    text-decoration: none;
    font-size: 1.12rem;
    font-family: 'Montserrast', sans-serif;
    color: var(--cor-terciaria);
}

@media (max-width:1200px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .conteudo{
        flex-direction: column-reverse;
        padding: 5%;

    }
    .conteudo__justificado{
        width: auto;
    }
    .imagem{
        width: auto;
    }
}